a:link{
	color:blue;
}

a:visited{
	color:grey;
}

a:hover{
	color:green;
}

body {
background-image:url('pictures/coffee.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
iframe {
	background: rgba(0,0,0,0.3);
	border-radius:20px;
}
.txt {
  color: rgba(238, 74, 10, 0.8);
  text-shadow: 2px 4px rgba(122, 2, 2, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-image:url("pictures/lava.jpg");
  opacity: 0.7;
  border: none;
  color: white;
  padding: 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 30%;}

.trans{
  background: rgba(0,0,0,0);
  border:none;
}
